# Go Server Configuration
SERVER_PORT=8081

# Keycloak Configuration
KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_REALM=ptss-support

# Environment
APP_ENV=local

KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_REALM=your-app-realm
KEYCLOAK_ADMIN_CLIENT_ID=admin-cli
KEYCLOAK_CLIENT_ID=authentication-service
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin

