# Keycloak Configuration
KEYCLOAK_BASE_URL= # Keycloak URL goes here
KEYCLOAK_REALM=ptss-support # or other realm name if needed

# Keycloak Admin Operations
KEYCLOAK_ADMIN_CLIENT_ID=admin-cli
KEYCLOAK_ADMIN_USERNAME=temp-admin
KEYCLOAK_ADMIN_PASSWORD= # Keycloak admin password goes here, found in secrets, made by keycloak operator each time a new keycloak instance is created
# realm admin is used for creating clients, roles, users, etc. on a lower scope (realm specific).
KEYCLOAK_REALM_ADMIN_USERNAME=realm_admin
KEYCLOAK_REALM_ADMIN_PASSWORD= # choose a password

# Keycloak User Operations
KEYCLOAK_CLIENT_ID=authentication-service
# Below the APP_KEYCLOAK_CLIENT_SECRET should appear after running script/ docker compose up, needs to be copied from here and put in secret of auth service or other service
